nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;  
}