*{
    background-color: rgb(10, 36, 67);
    color: white;
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
}

th{
    background-color: rgb(179, 169, 236);
    padding: 15px 10px;
    margin: 10px 10px;
    text-align: center;
}

.table-types{
    background-color: rgb(117, 109, 236);
    padding: 15px 10px;
    margin: 10px 10px;
    text-align: center;
}

.table-values{
    background-color: black;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
}

.table-corner{
    border-bottom-right-radius: 70%;
}